<div class="header">
    <img id="logo" src="{{url_for('static',filename='logo.png')}}" />
<div class="search_block">
    <form method="post" action="/search_querry">
        <ul class="ul_search">
            <li>
                <div class="search">
                    <input class="search_field" type="search" name="input">
                </div>
            </li>
            <li class="li_search">
                <div class="submit_search">
                    <input type="submit" name="submit" class="submit" value="Поиск">
                </div>
            </li>
        </ul>
    </form>
</div>
</div>